.page__content {
  max-width: 1280px;
  margin: 0 auto;
  font-family: 'Inter',
    Arial,
    sans-serif;
  background-color: #000000;
  color: white;
  padding: 0 200px;
  box-sizing: border-box;
}

@media screen and (max-width: 1050px) {
  .page__content {
    padding: 0 100px;
  }
}

@media screen and (max-width: 538px) {
  .page__content {
    padding: 0 19px;
  }
}
