@import "./vendor/normalize.css";
@import "./blocks/page/page.css";
@import "./blocks/page/__content/page__content.css";

@import "./vendor/fonts/fonts.css";
@import "./blocks/button/button.css";

@import "./blocks/header/header.css";
@import "./blocks/header/__logo/header__logo.css";

@import "./blocks/profile/profile.css";
@import "./blocks/profile/__title/profile__title.css";
@import "./blocks/profile/__edit-button/profile__edit-button.css";
@import "./blocks/profile/__post-button/profile__post-button.css";

@import "./blocks/profile/__subtitle/profile__subtitle.css";
@import "./blocks/profile/__avatar/profile__avatar.css";
@import "./blocks/profile/__content-container/profile__content-container.css";
@import "./blocks/profile/__edit-avatar-button/profile__edit-avatar-button.css";
@import "./blocks/profile/__avatar-container/profile__avatar-container.css";

@import "./blocks/profile/__text-container/profile__text-container.css";

@import "./blocks/elements/elements.css";
@import "./blocks/elements/__card-container/elements__card-container.css";
@import "./blocks/elements/__card-container/elements__card-container_hidden.css";
@import "./blocks/elements/__image/elements__image.css";
@import "./blocks/elements/__image-container/elements__image-container.css";
@import "./blocks/elements/__text-container/elements__text-container.css";
@import "./blocks/elements/__text/elements__text.css";
@import "./blocks/elements/__like-container/elements__like-container.css";
@import "./blocks/elements/__like/elements__like.css";
@import "./blocks/elements/__like-count/elements__like-count.css";
@import "./blocks/elements/__like/elements__like_active.css";
@import "./blocks/elements/__delete/elements__delete.css";
@import "./blocks/elements/__delete/elements__delete_hidden.css";

@import "./blocks/footer/footer.css";
@import "./blocks/footer/__text/footer__text.css";

@import "./blocks/popup/popup.css";
@import "./blocks/popup/popup_opened.css";
@import "./blocks/popup/__close/popup__close.css";
@import "./blocks/popup/__container/popup__container.css";

@import "./blocks/popup-edit/popup-edit.css";
@import "./blocks/popup-edit/__close/popup-edit__close.css";
@import "./blocks/popup-edit/__container/popup-edit__container.css";

@import "./blocks/popup-edit-avatar/popup-edit-avatar.css";
@import "./blocks/popup-edit-avatar/__container/popup-edit-avatar__container.css";

@import "./blocks/popup-add/popup-add.css";
@import "./blocks/popup-add/__close/popup-add__close.css";
@import "./blocks/popup-add/__container/popup-add__container.css";

@import "./blocks/popup-card/popup-card.css";
@import "./blocks/popup-card/__close/popup-card__close.css";
@import "./blocks/popup-card/__container/popup-card__container.css";
@import "./blocks/popup-card/__image/popup-card__image.css";
@import "./blocks/popup-card/__text/popup-card__text.css";

@import "./blocks/popup-confirm/popup-confirm.css";
@import "./blocks/popup-confirm/__container/popup-confirm__container.css";

@import "./blocks/form-edit/form-edit.css";
@import "./blocks/form-edit/__title/form-edit__title.css";
@import "./blocks/form-edit/__input-container/form-edit__input-container.css";
@import "./blocks/form-edit/__item/form-edit__item.css";

@import "./blocks/form-edit/__submit-button/form-edit__submit-button.css";

@import "./blocks/form-confirm/form-confirm.css";
@import "./blocks/form-confirm/__title/form-confirm__title.css";
@import "./blocks/form-confirm/__submit-button/form-confirm__submit-button.css";

@import "./blocks/form-add/form-add.css";
@import "./blocks/form-add/__title/form-add__title.css";
@import "./blocks/form-add/__input-container/form-add__input-container.css";
@import "./blocks/form-add/__item/form-add__item.css";
@import "./blocks/form-add/__submit-button/form-add__submit-button.css";

@import "./blocks/form/form.css";
@import "./blocks/form/__title/form__title.css";
@import "./blocks/form/__title/form__title_dark.css";
@import "./blocks/form/form_dark.css";
@import "./blocks/form/__item/form__item.css";
@import "./blocks/form/__item/form__item_dark.css";
@import "./blocks/form/__item/form__item_type_error.css";
@import "./blocks/form/__error/form__error.css";
@import "./blocks/form/__error/form__error_visible.css";
@import "./blocks/form/__submit-button/form__submit-button.css";
@import "./blocks/form/__submit-button/form__submit-button_dark.css";
@import "./blocks/form/__submit-button/form__submit-button_inactive.css";

@import "./blocks/form-edit-avatar/form-edit-avatar.css";
@import "./blocks/form-edit-avatar/__title/form-edit-avatar__title.css";
@import "./blocks/form-edit-avatar/__input-container/form-edit-avatar__input-container.css";
@import "./blocks/form-edit-avatar/__submit-button/form-edit-avatar__submit-button.css";
